.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 25px;
  top: 25px;
}

.bm-burger-bars {
  background: #000;
}

.bm-menu-wrap {
  overflow-y: hidden;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
}

/* .bm-menu-wrap.open {
  visibility: visible;
} */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow-y: hidden !important;
}

.bm-overlay {
  left: 0;
  right: 0;
}

.bm-item-list {
  display: flex;
  flex-direction: column;
}

.bm-item {
  display: block;
  color: #bdc3c7;
}

.menu-item {
  margin-top: 8px;
  padding: 15px 0px 15px 0px;
  text-decoration: none;
  width: 100%;
}

.menu-item:hover {
  background-color: #000;
  color: aliceblue;
}


