/* ---------- Detailed Day --------- */

.dayBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}

.num-date {
  font-size: 30px;
  font-weight: 900;
  margin: 0px;
}

.day {
  margin: 0px;
}

.todays-practice {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

.check-list-goals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goal-box {
  padding: 8px;
}
