/* -------- RIGHT SIDE Dashboard Styling ------ */

.calendar-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 75%;
}

.year-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
}

.year {
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid black;
  border-bottom: 5px solid transparent;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid black;
  border-bottom: 5px solid transparent;
}
.triangle-left:hover {
  border-right: 10px solid#2ECC71;
}
.triangle-right:hover {
  border-left: 10px solid#2ECC71;
}

.months {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.days {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.num-dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.first-week,
.second-week,
.third-week,
.fourth-week,
.fifth-week,
.sixth-week {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100%;
}

.day-dot {
  border: 2px solid black;
  border-radius: 20px;
  padding: 8px;
}

.day-dot:hover {
  background-color: black;
  color: white;
}
