/* -------------- Nav Bar ------------------- */

.mainNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

.logo {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  margin: 10px 0px 18px 0px;
}

.logoTag {
  font-size: 12px;
}

.navBar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0px;
}

.navBtn {
  padding: 0px 15px 0px 15px;
}

.logo-box {
  display: flex;
  align-items: center;
}

.mana-img {
  max-width: 30px;
  max-height: 30px;
}
