/* ---------------Landing Page --------------- */

.Landing-Page {
  min-width: 100%;
}

.landingTextBox,
.loginFormBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingText {
  max-width: 80%;
}

/* ------------ Form Styling ---------------  */

.register-form-box,
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register-form-box {
  min-height: 400px;
}

.register-title {
  background-color: #292929;
  padding: 15px;
}

.register-form {
  min-height: 150px;
}

#registration-fname-input, #registration-lname-input, #registration-username-input, #registration-password-input {
  align-self: center;
  min-width: 80%;
}

.register-button {
  align-self: center;
  font-size: 1.15em;
  margin: 25px 0px 35px 0px;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  color: white;
  background-color: #292929;
  border: none;
}

.register-button:hover {
  background-color: black;
}

.login-redirect {
  color: #8547C2;
}
