@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Fira+Sans&display=swap');

.App {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

h1, h2 {
  font-family: 'Cormorant Garamond', serif;
}

button {
  font-family: 'Fira Sans', sans-serif;
}
